In [1]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("PySpark").getOrCreate()

In [2]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [4]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [6]:
# SELECT columns
from pyspark.sql.functions import col,expr
emp_filtered = emp.select(col("employee_id"),expr("name"),emp.age,emp.salary)

In [7]:
emp_filtered.show()

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        001|     John Doe| 30| 50000|
|        002|   Jane Smith| 25| 45000|
|        003|    Bob Brown| 35| 55000|
|        004|    Alice Lee| 28| 48000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        008|     Kate Kim| 29| 51000|
|        009|      Tom Tan| 33| 58000|
|        010|     Lisa Lee| 27| 47000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        014|    Emily Lee| 26| 46000|
|        015|  Michael Lee| 37| 63000|
|        016|  Kelly Zhang| 30| 49000|
|        017|  George Wang| 34| 57000|
|        018|    Nancy Liu| 29| 50000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

In [8]:
emp_filtered.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)

In [9]:
# Cast age as int using expr
emp_casted = emp_filtered.select(expr("employee_id"),emp.name,expr("cast(age as int) as age"), emp.salary)

In [10]:
emp_casted.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [13]:
# Use selectExpr to cast age column
emp_casted_1 = emp_filtered.selectExpr("employee_id as emp_id","name", "cast(age as int) as age", "salary")

In [14]:
emp_casted_1.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: string (nullable = true)

In [11]:
# Filter emp based on age > 30
emp_gt_30 = emp_casted.select("employee_id","name","age","salary").where("age > 30")

In [12]:
emp_gt_30.show()

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        003|    Bob Brown| 35| 55000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        009|      Tom Tan| 33| 58000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        015|  Michael Lee| 37| 63000|
|        017|  George Wang| 34| 57000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

In [23]:
# Cast salary as double 
from pyspark.sql.functions import col, cast
emp_cast_2 = emp.select("employee_id","name","age", col("salary").cast("double"))

In [24]:
emp_cast_2.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: double (nullable = true)

In [27]:
# Adding column (salary*0.2) as tax
emp_taxed = emp_cast_2.withColumn("tax",col("salary")*0.2)

In [28]:
emp_taxed.show()

+-----------+-------------+---+-------+-------+
|employee_id|         name|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        001|     John Doe| 30|50000.0|10000.0|
|        002|   Jane Smith| 25|45000.0| 9000.0|
|        003|    Bob Brown| 35|55000.0|11000.0|
|        004|    Alice Lee| 28|48000.0| 9600.0|
|        005|    Jack Chan| 40|60000.0|12000.0|
|        006|    Jill Wong| 32|52000.0|10400.0|
|        007|James Johnson| 42|70000.0|14000.0|
|        008|     Kate Kim| 29|51000.0|10200.0|
|        009|      Tom Tan| 33|58000.0|11600.0|
|        010|     Lisa Lee| 27|47000.0| 9400.0|
|        011|   David Park| 38|65000.0|13000.0|
|        012|   Susan Chen| 31|54000.0|10800.0|
|        013|    Brian Kim| 45|75000.0|15000.0|
|        014|    Emily Lee| 26|46000.0| 9200.0|
|        015|  Michael Lee| 37|63000.0|12600.0|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|
|        017|  George Wang| 34|57000.0|11400.0|
|        018|    Nancy Liu| 29|50000.0|10000.0|
|        019|  Steven Chen| 36|62000.0|12400.0|
|        020|    Grace Kim| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [29]:
# Adding static columns 1 as columnOne, 'two' as columnTwo
from pyspark.sql.functions import lit
emp_literal = emp_cast_2.withColumn("columnOne",lit(1)).withColumn("columnTwo",lit('two'))

In [30]:
emp_literal.show()

+-----------+-------------+---+-------+---------+---------+
|employee_id|         name|age| salary|columnOne|columnTwo|
+-----------+-------------+---+-------+---------+---------+
|        001|     John Doe| 30|50000.0|        1|      two|
|        002|   Jane Smith| 25|45000.0|        1|      two|
|        003|    Bob Brown| 35|55000.0|        1|      two|
|        004|    Alice Lee| 28|48000.0|        1|      two|
|        005|    Jack Chan| 40|60000.0|        1|      two|
|        006|    Jill Wong| 32|52000.0|        1|      two|
|        007|James Johnson| 42|70000.0|        1|      two|
|        008|     Kate Kim| 29|51000.0|        1|      two|
|        009|      Tom Tan| 33|58000.0|        1|      two|
|        010|     Lisa Lee| 27|47000.0|        1|      two|
|        011|   David Park| 38|65000.0|        1|      two|
|        012|   Susan Chen| 31|54000.0|        1|      two|
|        013|    Brian Kim| 45|75000.0|        1|      two|
|        014|    Emily Lee| 26|46000.0|        1|      two|
|        015|  Michael Lee| 37|63000.0|        1|      two|
|        016|  Kelly Zhang| 30|49000.0|        1|      two|
|        017|  George Wang| 34|57000.0|        1|      two|
|        018|    Nancy Liu| 29|50000.0|        1|      two|
|        019|  Steven Chen| 36|62000.0|        1|      two|
|        020|    Grace Kim| 32|53000.0|        1|      two|
+-----------+-------------+---+-------+---------+---------+

In [32]:
# Another way to add multiple columns
columns = {
    "tax" : col("salary")*0.2,
    "columnOne": lit(1),
    "columnTwo": lit('two') 
}
emp_add_multiple_columns = emp_cast_2.withColumns(columns)

In [33]:
emp_add_multiple_columns.show()

+-----------+-------------+---+-------+-------+---------+---------+
|employee_id|         name|age| salary|    tax|columnOne|columnTwo|
+-----------+-------------+---+-------+-------+---------+---------+
|        001|     John Doe| 30|50000.0|10000.0|        1|      two|
|        002|   Jane Smith| 25|45000.0| 9000.0|        1|      two|
|        003|    Bob Brown| 35|55000.0|11000.0|        1|      two|
|        004|    Alice Lee| 28|48000.0| 9600.0|        1|      two|
|        005|    Jack Chan| 40|60000.0|12000.0|        1|      two|
|        006|    Jill Wong| 32|52000.0|10400.0|        1|      two|
|        007|James Johnson| 42|70000.0|14000.0|        1|      two|
|        008|     Kate Kim| 29|51000.0|10200.0|        1|      two|
|        009|      Tom Tan| 33|58000.0|11600.0|        1|      two|
|        010|     Lisa Lee| 27|47000.0| 9400.0|        1|      two|
|        011|   David Park| 38|65000.0|13000.0|        1|      two|
|        012|   Susan Chen| 31|54000.0|10800.0|        1|      two|
|        013|    Brian Kim| 45|75000.0|15000.0|        1|      two|
|        014|    Emily Lee| 26|46000.0| 9200.0|        1|      two|
|        015|  Michael Lee| 37|63000.0|12600.0|        1|      two|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|        1|      two|
|        017|  George Wang| 34|57000.0|11400.0|        1|      two|
|        018|    Nancy Liu| 29|50000.0|10000.0|        1|      two|
|        019|  Steven Chen| 36|62000.0|12400.0|        1|      two|
|        020|    Grace Kim| 32|53000.0|10600.0|        1|      two|
+-----------+-------------+---+-------+-------+---------+---------+

In [34]:
# Rename columns
emp_rename_columns = emp_cast_2.withColumnRenamed("employee_id","emp_id")

In [35]:
emp_rename_columns.show()

+------+-------------+---+-------+
|emp_id|         name|age| salary|
+------+-------------+---+-------+
|   001|     John Doe| 30|50000.0|
|   002|   Jane Smith| 25|45000.0|
|   003|    Bob Brown| 35|55000.0|
|   004|    Alice Lee| 28|48000.0|
|   005|    Jack Chan| 40|60000.0|
|   006|    Jill Wong| 32|52000.0|
|   007|James Johnson| 42|70000.0|
|   008|     Kate Kim| 29|51000.0|
|   009|      Tom Tan| 33|58000.0|
|   010|     Lisa Lee| 27|47000.0|
|   011|   David Park| 38|65000.0|
|   012|   Susan Chen| 31|54000.0|
|   013|    Brian Kim| 45|75000.0|
|   014|    Emily Lee| 26|46000.0|
|   015|  Michael Lee| 37|63000.0|
|   016|  Kelly Zhang| 30|49000.0|
|   017|  George Wang| 34|57000.0|
|   018|    Nancy Liu| 29|50000.0|
|   019|  Steven Chen| 36|62000.0|
|   020|    Grace Kim| 32|53000.0|
+------+-------------+---+-------+

In [36]:
# Drop column
emp_dropped = emp_add_multiple_columns.drop("columnTwo")

In [37]:
emp_dropped.show()

+-----------+-------------+---+-------+-------+---------+
|employee_id|         name|age| salary|    tax|columnOne|
+-----------+-------------+---+-------+-------+---------+
|        001|     John Doe| 30|50000.0|10000.0|        1|
|        002|   Jane Smith| 25|45000.0| 9000.0|        1|
|        003|    Bob Brown| 35|55000.0|11000.0|        1|
|        004|    Alice Lee| 28|48000.0| 9600.0|        1|
|        005|    Jack Chan| 40|60000.0|12000.0|        1|
|        006|    Jill Wong| 32|52000.0|10400.0|        1|
|        007|James Johnson| 42|70000.0|14000.0|        1|
|        008|     Kate Kim| 29|51000.0|10200.0|        1|
|        009|      Tom Tan| 33|58000.0|11600.0|        1|
|        010|     Lisa Lee| 27|47000.0| 9400.0|        1|
|        011|   David Park| 38|65000.0|13000.0|        1|
|        012|   Susan Chen| 31|54000.0|10800.0|        1|
|        013|    Brian Kim| 45|75000.0|15000.0|        1|
|        014|    Emily Lee| 26|46000.0| 9200.0|        1|
|        015|  Michael Lee| 37|63000.0|12600.0|        1|
|        016|  Kelly Zhang| 30|49000.0| 9800.0|        1|
|        017|  George Wang| 34|57000.0|11400.0|        1|
|        018|    Nancy Liu| 29|50000.0|10000.0|        1|
|        019|  Steven Chen| 36|62000.0|12400.0|        1|
|        020|    Grace Kim| 32|53000.0|10600.0|        1|
+-----------+-------------+---+-------+-------+---------+

In [38]:
# limit data
emp_limit = emp_add_multiple_columns.limit(5)

In [39]:
emp_limit.show()

+-----------+----------+---+-------+-------+---------+---------+
|employee_id|      name|age| salary|    tax|columnOne|columnTwo|
+-----------+----------+---+-------+-------+---------+---------+
|        001|  John Doe| 30|50000.0|10000.0|        1|      two|
|        002|Jane Smith| 25|45000.0| 9000.0|        1|      two|
|        003| Bob Brown| 35|55000.0|11000.0|        1|      two|
|        004| Alice Lee| 28|48000.0| 9600.0|        1|      two|
|        005| Jack Chan| 40|60000.0|12000.0|        1|      two|
+-----------+----------+---+-------+-------+---------+---------+